
div{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border: 5px;
    border: 10px solid black;
}
.cron{
    font-size: 50px;
}
h1{
    font-size: 45px;
}
button{
    height: 40px;
    margin: 20px;
    width: 70px;
    border-radius: 5px;
    cursor: pointer;
    
}
.start{
background-color: green;
color: white;
}
.pause{
background-color: yellow;
color: rgb(138, 135, 135);

}
.stop{
background-color: red;
color: white;

}